<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="OrderSignRecordMapper">

	<select id="findOrderSignRecordWhereStatusEqual1" resultType="int">
		SELECT
			order_id
		FROM
			order_sign_record
		WHERE
			status=0
	</select>

	<update id="updateOrderSignRecord" parameterType="list">
		UPDATE order_sign_record SET status=1 WHERE order_id IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</update>

</mapper>