<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="YwErrorMapper">

	
	<sql id="condition">
		where 1=1
			<if test="tuiAccountId != null and tuiAccountId != -1 "> and ywl.tui_account_id = #{tuiAccountId}</if>
			<if test="accountId !=null and accountId !=-1"> and ywl.account_id=#{accountId}</if>
	</sql>
	<!-- 查询列表 -->
	<select id="findListByParam" resultType="map" parameterType="map">
		select 
				ywl.id,
				ywl.id as `index`,
				ywl.account_id as accountId,
				ywl.tui_account_id as tuiAccountId,
				ywl.operator as operator,
				ywl.remark as remark,
				ywl.create_time as createTime
		from yw_account_rela_change_log ywl
		<include refid="condition"></include>
		order by ywl.create_time DESC,id desc
		<if test="start != null">limit #{start},#{size}</if>
	</select>
	<!-- 统计 -->
	<select id="getCountByParam" resultType="int" parameterType="map">
		select count(1) 
			from yw_account_rela_change_log ywl
		<include refid="condition"></include>
	</select>
	<insert id="insert" parameterType="YwAccountRelaChangeLogEntity" useGeneratedKeys="true" keyProperty="id">
 		<![CDATA[
        	insert into yw_account_rela_change_log(account_id,tui_account_id,operator,remark,create_time) 
        	values(#{accountId},#{tuiAccountId},#{operator},#{remark},now())
        ]]>
	</insert>
</mapper>
